<div class="faculty-edit__container">
  <div class="inner-container">
    <h1 class="heading"
      *ngIf="stateService.innerState === 'edit'">Подробнее</h1>
    <h1 class="heading"
      *ngIf="stateService.innerState === 'create'">Добавить факультет</h1>
    <div class="inputs"
      *ngIf="faculty !== null">
      <div class="input-container">
        <div class="property-name">
          Название:
        </div>
        <input type="text" 
         placeholder="название"
         [(ngModel)]="faculty.name">
      </div>
      <div class="input-container">
        <div class="property-name">
          Краткое название: 
        </div>
        <input type="text"
         placeholder="краткое название"
         [(ngModel)]="faculty.briefName">
      </div>
    </div>
    <div class="buttons">
      <div class="cancel-button"
        (click)="cancelChanges()">Назад</div>
      <div class="create-button"
        (click)="confirmCreation()"
        *ngIf="stateService.innerState === 'create'">Добавить</div>
      <div class="confirm-button"
        (click)="confirmChanges()"
        *ngIf="stateService.innerState === 'edit'">Сохранить</div>
      <div class="remove-button"
        (click)="removeStudent()"
        *ngIf="stateService.innerState === 'edit'">Удалить</div>
    </div>
  </div>
</div>
