<div class="student-list__container">
  <div class="inner-container">
    <h1 class="heading"
      *ngIf="modelService.group !== null">Студенты группы {{ modelService.group.name }}</h1>
    <div class="create-button"
      (click)="createStudent()">
      Добавить
    </div>
    <div class="student-list">
      <div class="student"
        *ngFor="let student of students">
        <span class="name"> {{ student.name }} </span>
        <div class="edit-button"
          (click)="editStudent(student)">Редактировать</div>
      </div>
    </div>
    <app-pagination-buttons #pagination>
    </app-pagination-buttons>
  </div>
</div>
