<div class="teacher-edit__container">
  <div class="inner-container">
    <h1 class="heading"
      *ngIf="stateService.innerState === 'edit'">Редактировать преподавателя</h1>
    <h1 class="heading"
      *ngIf="stateService.innerState === 'create'">Добавить преподавателя</h1>
    <div class="inputs"
      *ngIf="teacher !== null">
      <div class="input-container">
        <div class="property-name">
          Имя:
        </div>
        <input type="text" 
         placeholder="имя"
         [(ngModel)]="teacher.name">
      </div>
      <div class="input-container">
        <div class="property-name">
          Факультет: 
        </div>
        <input [ngClass]="{'error-input': errorService.invalidFaculty}"
         type="text"
         placeholder="факультет"
         [(ngModel)]="teacher.faculty.briefName">
      </div>
      <span class="error-message"
        *ngIf="errorService.invalidFaculty">Некорректные данные</span>
    </div>
    <div class="buttons">
      <div class="create-button"
        (click)="confirmCreation()"
        *ngIf="stateService.innerState === 'create'">Добавить</div>
      <div class="confirm-button"
        (click)="confirmChanges()"
        *ngIf="stateService.innerState === 'edit'">Сохранить</div>
      <div class="cancel-button"
        (click)="cancelChanges()">Отменить</div>
      <div class="remove-button"
        (click)="removeTeacher()"
        *ngIf="stateService.innerState === 'edit'">Удалить</div>
    </div>
  </div>
</div>
