.pagination-buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: arial, sans-serif;
  font-size: 14px;
}

.button {
  margin-right: 10px;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  color: #fff;

  font-weight: bold;

  box-sizing: border-box;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--dim-accent-color);
  transition: .1s;
  cursor: pointer;
}

.current-page {
  margin-right: 10px;

  color: #000;
}
